<nav class="navbar navbar-expand-sm navbar-inverse bg-dark navbar-dark navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img
          src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/06/floral-logo.jpg" alt="" width="50"
          height="44" style="border-radius: 50%;" class="d-inline-block align-text-top"></a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active px-2">
        <a class="nav-link" href="/item/all"><i class="fas fa-home"></i> HOME<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item px-2">
        <a class="nav-link" href="/cart/"><i class="fas fa-shopping-cart"></i> CART</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/users/login"><i class="fas fa-user"></i> Orders</a>
      </li>
    </ul>
  </div>
</nav>